$head-bg: #c5c5c5;
$body-bg: #fafafa;
$create-card-bg: #fff8c5;
$board-btn-bg: #fdfdfd;
$action-btn-bg: #676767;

$boradr-color: #e6e6e6;

$box-shadow-bg: #bdbdbd;
$box-shadow-bg-intensive: #989898;
$link-color: #000;

$box-shadow-normal: 0px 0px 6px 0px $box-shadow-bg;
$box-shadow-intensive: 0px 0px 20px 0px $box-shadow-bg-intensive;

$menu-font-size: 25px;
$board-height: 100px;